#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.slot {
  font-size: 4rem;
  width: 80px;
  height: 80px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  border-radius: 50%;
}

.bet-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

label {
  font-size: 1.5rem;
  margin-right: 10px;
}

input {
  font-size: 1.5rem;
  padding: 5px;
  border: none;
  border-bottom: 2px solid black;
  width: 60px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.play-button,
.reset-button {
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
}

.play-button:hover,
.reset-button:hover {
  background-color: #3e8e41;
}

.win-checker {
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.slots-container {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.slot {
  font-size: 4rem;
  width: 80px;
  height: 80px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  border-radius: 50%;
}

.bet-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

label {
  font-size: 1.5rem;
  margin-right: 10px;
}

input {
  font-size: 1.5rem;
  padding: 5px;
  border: none;
  border-bottom: 2px solid black;
  width: 60px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.play-button,
.reset-button {
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
}

.play-button:hover,
.reset-button:hover {
  background-color: #3e8e41;
}

.win-checker {
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
}
